{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4 fw-bold">Set New Password 🔐</h3>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="new_password" class="form-label">New password</label>
              <input type="password" name="password" id="new_password" class="form-control"
                   placeholder="**************" required autofocus>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label">Confirm new password</label>
              <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                   placeholder="**************" required>
            </div>
            <div class="d-grid mb-3">
            <button type="submit" class="btn btn-solid-border  btn-lg" >Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
