{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center py-5">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-4">
        <h3 class="card-title text-center mb-4 fw-bold" style="color:var(--secondary-color)">Register</h3>
        <form method="post" action="{% url 'accounts:register' %}">
          {% csrf_token %}
          <div class="row">
          <div class="col">
                        <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
          </div>
          <div class="col">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" >
          </div>
        </div>
          <br>
          <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Create password" required>
          </div>
          <div class="form-group mb-3">
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" id="age" placeholder="Age" required>
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-solid-border">Register</button>
          </div>
          <div class="text-center">
            <small>Already have an account?
              <a href="{% url 'accounts:login' %}" class="text-decoration-none">Login here</a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
