{% extends "base.html" %}

{% block content %}
<div class="section">
<div class="container">
  <h1 class="text-center" style="color: var(--primary-color);">{{ page.title }}</h1>

  <div class="content mt-4">
    {{ page.description|safe }}
  </div>
  {% if page.title == 'Weight Loss Program' %}
  <div class="columns is-desktop is-vcentered">
    <div class="column is-5-widescreen is-7-desktop">
        <div class="cta-content bg-white rounded p-5">
              <h3 class="mb-5">
                  Our Panel of <span class="text-color-primary">Doctor Motivational </span>Talk
              </h3>
              <p class="mb-4">
                  Our services are vast and collaborated with a panel of various practitioners to support customers  day-to-day needs.
                  (Video: Ex-neurosurgeon with NHS Practice and currently operating with Australia medical professional.)
              </p>
          </div>
      </div>

     <div class="column is-7-widescreen is-5-desktop">
      <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 10px;">
          <iframe src="https://drive.google.com/file/d/1lPmcsY4iKwAthoKz-PVagniKFyuYQHwM/preview" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px;" allow="autoplay"></iframe>
      </div>
  </div>
  </div>
  {% endif %}

</div>


</div>
{% if page.faqs.all %}
<div class="container">
  <h2 class="title is-4 mb-5" style="color: var(--primary-color)">Frequently Asked Questions</h2>
  <div class="content">
  {% for faq in page.faqs.all %}
    <article class="message">
      <div class="message-header" onclick="toggleAccordion(this)"
      style="color: white; cursor: pointer;"
      >
        <p>{{ faq.question }}</p>
        <span class="icon is-small"><i class="fas fa-angle-down"></i></span>
      </div>
      <div class="message-body is-hidden" id="faq-body-{{ forloop.counter }}">
        {{ faq.answer }}
      </div>
    </article>
  {% endfor %}

  </div>
</div>
{% endif %}
<br>
  <div class="columns is-centered is-multiline">

    <div class="column is-8-desktop is-12-tablet">
      <div class="has-background-white p-6 shadow has-text-centered">
        <h2 class="title is-3 has-text-dark mb-3">Ready to Take the Next Step?</h2>
          <br>
        <p class="subtitle is-5 has-text-grey-dark mb-5">
          Book an appointment with our healthcare professionals in just a few clicks.
        </p>

        <a class="btn btn-main is-medium"  href="{% url 'book_appointment' %}">
          <span class="icon">
            <i class="fas fa-calendar-check"></i>
          </span>
          <span>Book Appointment</span>
        </a>
      </div>
    </div>

  </div>
{% endblock %}
