{% extends "base.html" %}

{% block content %}
<section class="section py-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card has-text-centered p-6">
          <div class="card-content">
            <h1 class="title is-3 has-text-success">Verification Successfully Submitted</h1>
            <p class="subtitle is-5 mt-3">Thank you! Your identity has been successfully submitted.</p>
            <a href="{% url 'home' %}" class="btn btn-main mt-4">Return to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
